@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");

/*.button-alert is the parent class of .alert-btn which is a 
common sub-child of all
alert buttons*/

.button-alert {
    box-shadow: 1px 1px 2px 2px var(--dark-primary-text);
    padding: 2rem 10% 2rem 10%;
    border-radius: 1rem;
    width: 80%;
}

.alert-btn {
    margin: 0.3rem;
    border: 2px solid var(--primary);
    font-weight: bold;
    color: var(--white);
    font-size: 1.2rem;
}

.alert-btn:hover {
    color: var(--primary);
    background-color: var(--white);
}

.icon-alert {
    padding: 0.6rem;
    margin: 1rem;
    font-weight: 600;
}

.icon-alert>p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

.icon-alert>p>i {
    margin: 0.7rem 1rem 1rem 0rem;
}

.pop_alerts-error,
.pop_alerts-info,
.pop_alerts-warning,
.pop_alerts-success {
    position: absolute;
    z-index: 5;
    font-size: 1.5rem;
    transition: 0.5s ease-in-out;
}

.pop_alerts-warning {
    top: -5rem;
    right: 2rem;
}

.pop_alerts-error {
    top: -5rem;
    right: 2rem;
    background-color: var(--red);
    border-radius: 0.5rem;
    color: var(--gray);
}

.pop_alerts-info {
    top: -5rem;
    left: 5rem;
    background-color: var(--blueviolet);
    color: var(--blue);
    border-radius: 0.5rem;
}

.pop_alerts-success {
    top: -5rem;
    left: 5rem;
}

@media screen and (max-width:868px) {
    .alert-btn {
        display: block;
        width: 11rem;
    }
    .button-alert {
        width: 90%;
    }
    .pop_alerts-info,
    .pop_alerts-success {
        top: -5rem;
        left: 1rem;
    }
    .pop_alerts-warning,
    .pop_alerts-error {
        top: -5rem;
        right: 1rem;
    }
    .pop_alerts-error,
    .pop_alerts-info,
    .pop_alerts-warning,
    .pop_alerts-success {
        font-size: 1rem;
    }
}