@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*.button-alert is the parent class of .alert-btn which is a 
common sub-child of all
alert buttons*/

.button-alert {
    box-shadow: 1px 1px 2px 2px var(--dark-primary-text);
    padding: 2rem 10% 2rem 10%;
    border-radius: 1rem;
    width: 90%;
}

.alert-btn {
    margin: 0.3rem;
    border: 2px solid var(--primary);
    font-weight: bold;
    color: var(--white);
    font-size: 1rem;
}

.alert-btn:hover {
    color: var(--primary);
    background-color: var(--white);
}

.icon-alert {
    /* width: auto; */
    /* padding: 1rem 10% 1rem 10%; */
    border: 1px solid var(--dark-primary);
    border-radius: 0.5rem;
}

.icon-alert>p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

.icon-alert>p>i {
    margin: 0.7rem 1rem 1rem 0rem;
}

@media screen and (max-width:868px) {
    .alert-btn {
        display: block;
        width: 11rem;
    }
}