@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.badge-container {
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
    width: 80%;
}

.badge {
    margin: 2rem;
}

.badge>p {
    background-color: var(--green);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
    position: relative;
    overflow: hidden;
}

.badge>span>i {
    color: var(--blueviolet);
}

.action-badge {
    top: -0.5rem;
    left: -5.5rem;
}

.hide-badge {
    top: -0.3rem;
    left: -1rem;
}

.badge span {
    font-size: 1.3rem;
}

.notification-badge {
    left: -9rem;
    top: -0.5rem;
}

.badge-icon {
    top: -2.3rem;
    left: -2.5rem;
}

@media screen and (max-width:992px) {
    .badge-container {
        width: 90%;
    }
}