@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.default-button-container {
    border: 1px solid var(--dark-primary);
    padding: 2rem 10%;
    border-radius: 1rem;
    margin: 1rem;
}

.round-button {
    border-radius: 2rem;
}

.default-button {
    display: block;
    width: 12rem;
    margin: 0.5rem;
}

.round-button {
    border-radius: 2rem;
    display: block;
    width: 11rem;
    margin: 0.5rem;
}

.disabled-button-container,
.floating-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
}

.floating-button-container>button {
    margin: 2rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: 0.2s ease-in;
    box-shadow: 2px 2px 2px 2px var(--dark-tertiary);
}

.btn-heart-icon {
    background-color: var(--hotpink);
    color: var(--pink);
}

.btn-heart-icon:hover {
    background-color: var(--pink);
    color: var(--hotpink);
}

#contained-btn-red {
    border-radius: 1rem;
    color: var(--red);
}

#contained-btn-red:hover {
    background-color: var(--red);
    color: var(--white);
}

.floating-button-container>button:hover {
    transform: translateY(-5px);
}

.disabled-button-container>button {
    cursor: not-allowed;
    margin: 1rem;
    opacity: 0.8;
}

@media screen and (max-width:992px) {
    .disabled-button-container,
    .floating-button-container {
        width: 90%;
    }
}