@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.card-container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    background-color: var(--white);
    margin: 1rem;
    font-family: monster;
    border-radius: 0.5rem;
    position: relative;
}

.card-image {
    height: 17rem;
    width: 100%;
    border: 0.2rem solid var(--white);
    border-radius: 0.5rem;
}

.dismiss-card-container {
    position: relative;
    opacity: 0.5;
    border: 1px solid var(--black);
}

.card-dismiss {
    position: inherit;
    right: -16.5rem;
    bottom: -1.5rem;
    float: right;
    color: var(--red);
}

.card-badge {
    position: inherit;
    bottom: -2.2rem;
    color: var(--red);
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--tertiary);
    display: inline-block;
}

.card-heading {
    margin-left: 0.5rem;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 1.1rem;
}

.horizontal-card-img-handler {
    display: flex;
}

.card-horizontal-image {
    border-top-left-radius: 0.5rem;
}

.horizontal-card-text {
    display: flex;
    flex-direction: column;
}

.horizontal-card-text p {
    margin-left: 0.3rem;
}

.card-subtext {
    color: var(--dark-secondary);
    margin: 0.5rem;
    text-align: left;
    font-weight: 800;
}

.text-on-card {
    margin: -4rem 0rem 2rem 0.5rem;
}

.brand-name {
    color: var(--danger-bg-color);
    font-weight: 400;
    margin-left: 1rem;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-icon label {
    color: var(--blueviolet);
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.card-icon i {
    margin: 0 0.4rem 0 0.3rem;
    cursor: pointer;
    color: var(--blueviolet);
}

.card-icon label:hover,
.card-icon i:hover {
    color: var(--danger-bg-color);
}