@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
body {
    box-sizing: border-box;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    width: 300px;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.img-cover-one {
    box-sizing: border-box;
    width: 100%;
    height: 30rem;
    background-image: url("../images/code.jpg");
    border-radius: 1px;
    border: 10px solid white;
    background-size: cover;
    object-fit: cover;
}

.text-box-one {
    font-size: 1.2rem;
    color: chocolate;
    margin: 0rem 1rem 1rem 0.8rem;
    font-weight: bolder;
}

.naming-one {
    margin: 0;
    color: rgb(77, 74, 74);
    font-weight: bold;
    font-size: 1rem;
}

.para-one {
    color: rgb(99, 90, 90);
    padding-bottom: 1rem;
    font-weight: normal;
}

.img-cover-two {
    box-sizing: border-box;
    width: 100px;
    height: 98px;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.inline {
    display: flex;
    flex-direction: row;
}

.text-box-two {
    margin: 1rem auto;
    color: chocolate;
    font-size: 1.2rem;
    font-weight: bold;
}

.naming-two {
    margin: 0;
    color: rgb(77, 74, 74);
    font-size: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

.btn1,
.btn2 {
    border: none;
    color: blueviolet;
    background-color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn1:hover {
    background-color: blueviolet;
    color: white;
}

.btn2:hover {
    background-color: blueviolet;
    color: white;
}

.btn-like {
    border: none;
    background-image: url("images/like.png");
    background-color: white;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-share {
    border: none;
    background-image: url("images/share.png");
    background-color: white;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-more {
    border: none;
    background-image: url("images/more.png");
    background-color: white;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.img-cover-three {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-box-three {
    margin: 1rem 0 0.0rem 0.6rem;
    color: chocolate;
    font-size: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.naming-three {
    font-weight: bold;
}

.naming-three,
.para-three {
    color: rgb(77, 74, 74);
    font-size: 1rem;
    margin-left: 0.6rem;
}

.img-cover-four {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.6rem;
}

.text-box-four {
    margin: 0 0 0 0.6rem;
    color: chocolate;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.5rem;
}

.naming-four {
    font-weight: bold;
    color: rgb(77, 74, 74);
    margin-left: 0.7rem;
}

.para-four {
    color: rgb(77, 74, 74);
    font-size: 1rem;
    margin-left: 0.7rem;
}

.text-box-five {
    padding-top: 0.6rem;
    margin-left: 0.6rem;
    color: chocolate;
    font-size: 1.2rem;
    font-weight: bold;
}

.naming-five {
    font-weight: bold;
    margin-left: 0.7rem;
    color: rgb(77, 74, 74);
}

.para-five {
    color: rgb(77, 74, 74);
    font-size: 1rem;
    margin-left: 0.7rem;
}