@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.card-container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    background-color: var(--white);
    margin: 1rem;
    font-family: monster;
    border-radius: 0.5rem;
    position: relative;
}

.card-image {
    height: 17rem;
    width: 100%;
    border: 0.2rem solid var(--white);
    border-radius: 0.5rem;
}

.dismiss-card-container {
    position: relative;
    opacity: 0.5;
    border: 1px solid var(--black);
}

.card-dismiss {
    position: absolute;
    right: 1rem;
    top: 1rem;
    float: right;
    color: var(--red);
}

.card-badge {
    position: absolute;
    top: 1rem;
    color: var(--red);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.2rem;
    background-color: var(--tertiary);
}

.card-heading {
    margin-left: 0.5rem;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 1.1rem;
}

.horizontal-card-img-handler {
    display: flex;
}

.card-horizontal-image {
    border-top-left-radius: 0.5rem;
}

.horizontal-card-text {
    display: flex;
    flex-direction: column;
}

.horizontal-card-text p {
    margin-left: 0.3rem;
}

.card-subtext {
    color: var(--dark-secondary);
    margin: 0.5rem;
    text-align: left;
    font-weight: 800;
}

.text-on-card {
    margin: -4rem 0rem 2rem 0.5rem;
}

.brand-name {
    color: var(--danger-bg-color);
    font-weight: 400;
    margin-left: 1rem;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-icon label {
    color: var(--blueviolet);
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.card-icon i {
    margin: 0 0.4rem 0 0.3rem;
    cursor: pointer;
    color: var(--blueviolet);
}

.card-icon label:hover,
.card-icon i:hover {
    color: var(--danger-bg-color);
}

.outdated_card {
    opacity: 0.5;
    cursor: not-allowed;
}

.card_out-of-stock {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 2rem;
    font-weight: 800;
    color: var(--black);
    opacity: 1;
}

.notify-button-stock-card {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--transparent-black);
    opacity: 0;
    transition: opacity 0.5s;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
}

.notify-button-stock-card>button {
    border: 2px solid var(--tertiary);
    left: 15%;
    position: relative;
    top: 60%;
}

.notify-button-stock-card>button:hover {
    color: var(--primary);
}

.notify-button-stock-card:hover {
    opacity: 1;
    z-index: 5;
}

.shadow-card {
    border: 2px solid var(--dark-primary);
    box-shadow: 10px 15px 5px 15px var(--dark-tertiary);
}