.grid-container-50-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 15rem;
    min-width: 80%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
}

.grid-children {
    background-color: var(--blueviolet);
    color: var(--white);
    font-weight: 800;
}

.grid-container-75-25 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    min-height: 10rem;
    min-width: 80%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
}

.grid-container-three-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    min-height: 20rem;
    min-width: 80%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
}

@media screen and (max-width:992px) {
    .grid-container-50-50 {
        width: 90%;
    }
    .grid-container-75-25 {
        width: 90%;
    }
    .grid-container-three-items {
        width: 90%;
    }
}