.grid-container-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 15rem;
    min-width: 70%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
}

.grid-children {
    background-color: var(--blueviolet);
    color: var(--white);
    font-weight: 800;
}

.grid-container-75-25 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    min-height: 10rem;
    min-width: 70%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
}

.grid-container-three-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-height: 20rem;
    min-width: 70%;
    grid-gap: 0.5rem;
    background-color: var(--light-blue);
    padding: 0.5rem;
}

@media screen and (max-width:992px) {
    .grid-container-50-50 {
        min-width: 90%;
    }
    .grid-container-75-25 {
        min-width: 90%;
    }
}