@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.image-container {
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.images {
    background-image: url("../images/code.jpg");
    background-size: 100%;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

.img-sm-square {
    width: 4rem;
    height: 4rem;
}

.img-lg-square {
    width: 6rem;
    height: 6rem;
}

.img-lgr-square {
    width: 8rem;
    height: 8rem;
}

.round-img {
    border-radius: 50%;
}

.img-sm-round {
    width: 4rem;
    height: 4rem;
}

.img-lg-round {
    width: 6rem;
    height: 6rem;
}

.img-lgr-round {
    width: 8rem;
    height: 8rem;
}

.img-responsive {
    height: 20rem;
    width: 90%;
    background-image: url("https://i.ibb.co/9b0JHS5/Luxury-handbags.jpg");
    background-size: 100% 100%, cover;
    margin: 1rem;
}

@media screen and (max-width:992px) {
    .image-container {
        width: 90%;
    }
}