@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.list-container {
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
    width: 80%;
    padding: 1rem;
}

.list-container ul li,
.list-container ol li {
    margin: 1rem 2rem;
    color: var(--black);
    font-weight: 800;
}

.roman,
.disc,
.lower-alpha,
.upper-alpha {
    background-color: var(--white);
    margin: 2rem;
    font-size: 1.2rem;
}

.roman li {
    list-style-type: lower-roman;
}

.upper-alpha li {
    list-style-type: upper-alpha;
}

.lower-alpha li {
    list-style-type: lower-alpha;
}

.disc li {
    list-style-type: disc;
}

.stacked-list {
    background-color: var(--secondary-bg-color);
    padding: 0.2rem 1rem 0 0rem;
    border-radius: 0.2rem;
    margin: 0.2rem 0 0.1rem;
    max-width: 25rem;
}

.stacked-list>span>p {
    margin: 0 1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.stacked-list-img>img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid var(--yellow);
}

.stacked-list-img {
    position: relative;
}

.stacked-list-badge {
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--green);
    bottom: 15%;
    right: 10%;
    border: 1px solid var(--red);
}

.stacked-list-description {
    margin-left: 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

@media screen and (max-width:992px) {
    .list-container {
        width: 90%;
    }
}