@import url("base/reset.css");
@import url("base/color.css");
@import url("base/nav.css");
.snackbar {
    background-color: var(--dark-primary);
    padding: 0.5rem;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0.5rem;
    display: inline-block;
    box-shadow: 1px 1px 2px 2px var(--dark-tertiary);
}

.snackbar-text {
    color: var(--white);
    font-family: monster;
}

.snackbar-text>label {
    border: 1px solid var(--blueviolet);
    background-color: var(--blueviolet);
    border-radius: 0.2rem;
    margin: 0rem 0.2rem 0rem 0.2rem;
    cursor: pointer;
}