@import url("../CSS/base/reset.css");
@import url("../CSS/base/color.css");
@import url("../CSS/base/nav.css");
@import url("../CSS/avatar.css");
@import url("../CSS/badge.css");
@import url("../CSS/alert.css");
@import url("../CSS/button.css");
@import url("../CSS/card.css");
@import url("../CSS/image.css");
@import url("../CSS/input.css");
@import url("../CSS/snackbar.css");
@import url("../CSS/lists.css");
@import url("../CSS/navbar.css");
@import url("../CSS/install.css");
@import url("../CSS/text.css");
@import url("../CSS/modal.css");
@import url("../CSS/rating.css");
@import url("../CSS/grid.css");
body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.header-part {
    width: 100vw;
    background-color: var(--nav-color);
    height: 3.5rem;
    position: fixed;
    right: 0;
}

.body-container {
    display: flex;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    background-color: var(--nav-color);
    margin-top: 3.5rem;
    overflow-x: hidden;
    height: calc(100vh - 3.5rem);
    border-top: 2px solid var(--dark-secondary);
    z-index: 1;
}

.sidebar-link li,
.sidebar-link li a {
    margin-top: 0.2rem;
    color: var(--white);
    padding: 0.5rem 2rem;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.sidebar-link li a:hover {
    background-color: var(--tertiary);
}

.sidebar-link::-webkit-scrollbar {
    width: 0px;
}

.main-container {
    margin-top: 3.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow-x: hidden;
    background-color: var(--dark-secondary);
}

.main-container::-webkit-scrollbar {
    width: 5px;
}

@media screen and (max-width:768px) {
    .sidebar-link {
        display: none;
    }
    .main-container {
        width: 100vw;
    }
}