:root {
    --primary: #ff6600;
    --secondary: #ff771f;
    --tertiary: #ff8c3c;
    --background: #ffaf7a;
    --primary-text: #000;
    --bold-text: #000;
    --dark-primary: #121212;
    --dark-secondary: #404040;
    --dark-tertiary: #282828;
    --dark-background: #282828;
    --dark-primary-text: #b3b3b3;
    --dark-bold-text: #ffffff;
    --pink: #ffc0cb;
    --yellow: #ffff00;
    --white: #ffffff;
    --black: #000;
    --red: red;
    --green: green;
    --success-bg-color: #99ff99;
    --danger-bg-color: #ff9999;
    --logo-color: #7f7fff;
    --nav-color: #333;
    --iframe-bg-color: #161616;
    --background-color: antiquewhite;
    --dark: grey;
    --blueviolet: blueviolet;
    --blue: blue;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #FAFAFA;
    --text-color: #282828;
    --hotpink: hotpink;
    --transparent-black: #000001ab;
}