* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-size-adjust: 100%;
}

button {
    border: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    margin: 0.5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-tertiary {
    background-color: var(--tertiary);
}

.headings {
    margin: 1rem 0rem 0rem 0rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
}

.paragraphs {
    font-size: 1.3rem;
    width: 70%;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
    font-weight: bold;
}


/*navigation bar to  body margin container 15vh from 
top */

.nav-body-margin {
    height: 12.5vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Blocks */

iframe,
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* Form */

button,
input,
select,
textarea {
    margin: 0;
}


/* Links */

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--cyan);
}


/* List */

ul {
    list-style: none;
}


/* Media */

img,
iframe {
    block-size: auto;
    max-inline-size: 100%;
    overflow: hidden;
    font-size: 100%;
    vertical-align: baseline;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}


/** form */

button,
input,
select,
textarea {
    margin: 0
}


/* Iframe **/

li {
    list-style: none;
}

.iframe-parent_class {
    overflow: hidden;
    width: 101%;
    height: 35vh;
    border: none;
    overflow-x: hidden;
}

.iframe-child_class {
    overflow: auto;
    margin-left: 0.7rem;
}